html {
	scrollbar-gutter: stable;
}

body {
	font-family: sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

@media (hover: hover) {
	a:hover {
		text-decoration: underline;
	}
}

button {
	cursor: pointer;
}
